* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.header{
    text-align: center;
    font-size: 200%;
    color: rgb(39, 236, 227);
    padding: 100px;
    background-image: url(https://st.depositphotos.com/9999814/52407/i/450/depositphotos_524071248-stock-photo-smart-warehouse-management-system-with.jpg);
    height:9cm;
    width:100%

}
nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(192, 230, 228);
    padding: 10px;
}
  .nav button {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .nav button:hover {
    background-color: #ddd;
  }
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    overflow-x: hidden;
    max-height: fit-content;
    
}
.main {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }


.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2{
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    
    color:blue;
}
.form-container {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    

}
.form-container input, .form-container button {
    padding: 10px;
    font-size: 1em;
    margin-top: 2%;
}
#inventoryTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#homeInventoryTable{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#homeInventoryTable th, #homeInventoryTable td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
#homeInventoryTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

#inventoryTable th, #inventoryTable td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
#inventoryTable tr:nth-child(even) {
    background-color: #f9f9f9;
}
#alerts {
    color: red;
    margin-top: 10px;
    text-align: center;
}
.analytics {
    margin-top: 20px;
    text-align: center;
}
button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
}
button:hover {
    background-color: #0056b3;
}
#search{
    text-align: center;
}
#searchResultsTable{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}


#searchResultsTable th, #searchResultsTable td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    
}
#searchResultsTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

#movementHistoryTable{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; 
}
#movementHistoryTable th, #movementHistoryTable td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    
}
#movementHistoryTable tr:nth-child(even) {
    background-color: #f9f9f9;
}



footer{
    background-color: rgb(192, 230, 228);
    text-align: center;
    height: 1cm;
    padding: 10px ;
    margin-top: 25%;
}


footer p {
    margin: 0;
}



footer{
    background-color: rgb(192, 230, 228);
    text-align: center;
    height: 1cm;
    padding: 10px ;
    margin-top: 25%;
}


footer p {
    margin: 0;
}